.nav.flex-column .nav-link {
  color: #222222 !important;
}

.text-center mb-4 {
    color: #ffffff;
}

.nav.flex-column .nav-link:hover {
  color: #000000;
}

.dashboard-container {
  padding: 20px;
  background-color: #ffffff;
}

.card-title {
  font-size: 1.1rem;
  color: #555;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.mt-4 {
    color: #222222 !important;
}

.text-muted {
    color: #ffffff !important;
}
